<div id="close">
  <div class="icon-before back"></div>
</div>
<div class="table">
    <div class="cell foto" style="background-image: url('{{img}}')"></div>
    <div class="cell info">
        <b>Nombre: </b><span class="title">{{title}}</span><br />
        <b>Edad: </b><span class="edad">{{edad}}</span><br />
        <b>Raza: </b><span class="raza">{{raza}}</span><br />
        <b>Sexo: </b><span class="sexo">{{sexo}}</span><br />
        <b>Teléfono: </b><span class="telefono">{{telefono}}</span><br />
        <b>Dirección: </b><span class="direccion">{{direccion}}</span><br />
        <b>Web: </b><span class="web">{{web}}</span><br />
        <a class="ext" href="{{a}}"><br />{{i18n 'Más información'}}</a>
    </div>
</div>
<div>{{desc}}</div>