<div id="close">
  <div class="icon-before back"></div>
</div>
<div class="table">
    <div class="cell foto" style="background-image: url('{{img}}')"></div>
    <div class="cell info">
        <b>{{i18n 'Nombre'}}: </b><span class="title">{{title}}</span><br />
        <b>{{i18n 'Edad'}}: </b><span class="edad">{{edad}}</span><br />
        <b>{{i18n 'Raza'}}: </b><span class="raza">{{raza}}</span><br />
        <b>{{i18n 'Sexo'}}: </b><span class="sexo">{{sexo}}</span><br />
        <b>{{i18n 'Teléfono'}}: </b><span class="telefono">{{telefono}}</span><br />
        <b>{{i18n 'Dirección'}}: </b><span class="direccion">{{direccion}}</span><br />
        <b>Web: </b><span class="web">{{web}}</span><br />
        <a class="ext" href="{{a}}"><br />{{i18n 'Más información'}}</a>
    </div>
</div>
<div>{{desc}}</div>